[flake8]
exclude =
	.git,
	migrations,

max-line-length = 88
ignore =
	# do not assign a lambda expression, use a def
	E731,
	# line break before binary operator
	W503,
	# whitespace before ':'
	E203
